# MySQL Configuration
MYSQL_ROOT_PASSWORD=change_this_password
MYSQL_DATABASE=RobotoCalendarScheduler
MYSQL_USER=roboto
MYSQL_PASSWORD=change_this_password

# API Configuration
JWT_KEY=8KJM8[X`b&I{Axrebo~UuBlM'5+:g:W`uUyiM@s_FwF%}
JWT_ISSUER=RobotoAuth
JWT_AUDIENCE=RobotoClients
JWT_EXPIRE_MINUTES=60

# Database Connection
DB_HOST=roboto-mysql
DB_PORT=3306
